@font-face {
    font-family: 'KHInterference';
    src: url('./font/KHInterference/KHInterference-Regular.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 5px;
    border: 2px solid #f4f4f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.2);
}

#affichage {
    grid-column: span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    font-family: KHInterference, sans-serif;
    font-weight: lighter;
}

button {
    background-color: transparent;
    font-size: 20px;
    border-radius: 9999px;
    transition: all 0.1s;
    border: 1px solid #e1e1e1;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
    box-shadow: none;
    transition: all 0.1s;
}

.span-2 {
    grid-column: span 2;
    background-color: #f4f4f5;
}